*,
*::after,
*::before{
    box-sizing: border-box;
}

.body{
    font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
}

.top-phone{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.header__info{
    margin-top: 105px;
}

.info-one{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
    color: white;
}

.info-two{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 107px;
    text-transform: uppercase;
    color: white;
}

.info-three{
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 107px;
    text-transform: uppercase;
    color: white;
}

.info-btn{
    background-color: #5A0D67;
    color:white;
    width: 250px;
    height: 50px;
    border: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.info-btn:hover{
    background-color: white;
    color:#5A0D67;
}

.info-site{
    display: flex;
    gap: 10px;
    margin-left: 60px;
    margin-top: 70px;
    padding-bottom: 110px;
}

.img-car{
    position: absolute;
    left: 750px;
    top: 550px;
    width: 814px;
    height: 462px;
}

.services{
    margin-top: 300px;
}

.services__top-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.services__top-img{
    position: absolute;
    left: 560px;
    top: 1130px;
}

.services__info{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.info__one-top-title,
.info__one-bottom-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #5A0D67;
    margin-bottom: 12px;
}

.info__one-bottom-title{
    margin-top: 70px;
}

.info__one-top-text,
.info__one-bottom-text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    width: 504px;
}

.btn{
    width: 100%;
    margin-bottom: 12px;
}

.btn:hover{
    width: 110%;
}

.btn span{
    writing-mode: tb-rl;
    transform:rotate(180deg);
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #5A0D67;
    display: flex;
    justify-content: start;
}

.services__bottom{
    margin-top: 30px;
}

.why{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.why__left-img{
    width: 320px;
    height: 606px;
}

.why__right-top-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.why__right-top-img{
    position: absolute;
    left: 1216px;
    top: 1934px;
}

.why__right-bottom{
    margin-top: 50px;
    background-color: #21062A;
}

.why__right-bottom-block{

}

.block-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.block-info{
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

.block-text{
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.auto{
    margin-top: 100px;
}

.auto__imgs{
    display: flex;
    width: 500px;
    margin: 0 auto;
}

.auto__title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 50px;
}



.slick-dots{
    position: absolute;
    top:0;
}

